div>input{
    border: none;
    outline: none;
    width: 100%;
    background: none;
    
}
.id{
    border: 1px solid red;
    border-radius: 30px;
    padding-left: 20px;
}
.pw{
    border-bottom: 2px solid red;
}
.btn_login{
    width: 200px; height: 100px;
    background-color: aqua;
}
input:focus{
    border: 1px solid black;
}
input[type=text]{
    font-size: 30px;
}